<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeepX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>647DFC431ED9254100E24624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647DFC5A1ED9254200E24624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>647DFC651ED9254200E24624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
